---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Table from "../../components/Table.astro";
import { normalizeSlug } from "../../utils/normalizeSlug";

export function getStaticPaths() {
  return [
    { params: { thread: "blim-city-banter" } },
    { params: { thread: "combat-tactics-and-strategies" } },
    { params: { thread: "zephyr-paradise" } },
    { params: { thread: "port-terrene-hangout" } },
  ];
}

const { thread } = Astro.params;
---

<Layout title={normalizeSlug(thread)}>
  <Header title={normalizeSlug(thread).toUpperCase()} />
  <div class="px-10 w-full flex flex-col gap-8">
    <Table
      thread={thread}
      headers={[normalizeSlug(thread).toUpperCase(), "REPLIES", "VIEWS"]}
      rows={[[]]}
    />
  </div>
</Layout>
