<header>
    <div class="flex justify-between align-bottom">
        <div class="flex-1"/>
        <h1 class="flex-2 text-center text-7xl">HUNTER FORUMS</h1>
        <p class="flex-1 text-xs text-end self-end">CONNECTING...</p>
    </div>
    <hr />
    <div class="flex justify-between align-bottom">
        <p class="text-xs text-end self-start">
            HUNTER FORUMS
        </p>
    </div>
</header>

<style>
    header {
        padding: 1rem;
        color: var(--main);
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    h1 {
        word-spacing: 2rem;
        text-align: center;
    }

    hr {
        border: 0;
        border-top: 1px solid var(--main);
    }
</style>